:root {
  --color-primary-light: rgba(72, 52, 212, 1.0);
  --color-primary-dark: rgba(48, 51, 107, 1.0);
  --color-grey-light-1: rgba(255, 255, 255, 1.0);
  --color-grey-light-2: rgba(223, 230, 233, 1.0);
  --color-grey-light-3: rgba(220, 221, 225, 1.0);
  --color-grey-dark-1: rgba(53, 59, 72, 1.0);
  --color-grey-dark-2: rgba(47, 54, 64, 1.0);
  --color-secondary: rgba(253, 203, 110, 1.0);
  --shadow: 0 .5rem 2rem rgba(0, 0, .5);
  --shadow-light: 0 .1rem .2rem rgba(0, 0, .5); }

::selection {
  background-color: red; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-grey-dark-1);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative; }

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  outline: none;
  border: none; }

.container {
  margin: 6rem auto;
  max-width: 45rem;
  height: 80vh;
  background-color: var(--color-grey-dark-2);
  box-shadow: var(--shadow);
  border-radius: 2px; }

.game {
  background-color: var(--color-secondary);
  height: 0; }

.board {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%; }
  .board .row {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff; }
    .board .row:not(:last-of-type) {
      border-bottom: .5px solid #fff; }
  .board .cell {
    padding: 2rem;
    flex: 0 0 33.33333333%;
    height: 100%;
    font-weight: 400;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .board .cell:not(:last-of-type) {
      border-right: .5px solid #fff; }

.new-game {
  margin: 2rem auto;
  text-align: center; }
  .new-game .btn {
    color: #fff;
    padding: 1rem;
    text-transform: capitalize;
    border-bottom: .5px solid white;
    cursor: pointer;
    transition: all .4s;
    position: relative; }
    .new-game .btn::before {
      display: inline-block;
      content: "";
      opacity: 1;
      width: 100%;
      height: 1%;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .4s; }
    .new-game .btn:hover {
      color: var(--color-grey-dark-2); }
      .new-game .btn:hover::before {
        height: 100%;
        z-index: -1; }

.notif {
  margin: 0 auto;
  margin-bottom: -5rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-secondary); }

.game {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 40rem;
  background: var(--color-grey-dark-2);
  box-shadow: var(--shadow-light);
  font-size: 1.9rem;
  font-weight: 400; }
  .game .marker {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 2rem; }
    .game .marker span {
      display: inline-block;
      margin-bottom: 1.2rem; }
    .game .marker__input, .game .marker__input:active, .game .marker__input:visited, .game .marker__input:focus {
      padding: .5rem;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 300;
      border: none;
      width: 100%;
      text-align: center;
      background-color: var(--color-grey-dark-2);
      box-shadow: var(--shadow-light);
      outline: none;
      color: #fff;
      text-decoration: none; }
  .game .player {
    display: flex;
    flex-direction: column; }
    .game .player input {
      padding: 1rem;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 300;
      border: none;
      width: 100%;
      text-align: center;
      outline: none;
      color: var(--color-grey-dark-2);
      margin: 1rem 0; }
  .game .btn {
    color: #fff;
    margin: 0 1rem;
    padding: 1rem;
    text-transform: capitalize;
    border-bottom: .5px solid white;
    cursor: pointer;
    transition: all .4s;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
    position: relative; }
    .game .btn::before {
      display: inline-block;
      content: "";
      opacity: 1;
      width: 100%;
      height: 1%;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .4s; }
    .game .btn:hover {
      color: var(--color-grey-dark-2);
      display: block;
      z-index: 10; }
      .game .btn:hover::before {
        height: 100%;
        z-index: -1; }
