:root {
    --color-primary-light: rgba(72, 52, 212, 1.0);
    --color-primary-dark: rgba(48, 51, 107, 1.0);

    --color-grey-light-1: rgba(255, 255, 255, 1.0);
    --color-grey-light-2: rgba(223, 230, 233, 1.0);
    --color-grey-light-3: rgba(220, 221, 225, 1.0);

    --color-grey-dark-1: rgba(53, 59, 72, 1.0);
    --color-grey-dark-2: rgba(47, 54, 64, 1.0);

    --color-secondary: rgba(253, 203, 110, 1.0);

    --shadow: 0 .5rem 2rem rgba(0, 0, .5);
    --shadow-light: 0 .1rem .2rem rgba(0, 0, .5);
}

::selection {
    background-color: red;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    //min-width: 114rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;

    background-color: var(--color-grey-dark-1);
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff; //var(--color-grey-light-1);
    position: relative;
}

a,
a:link,
a:active,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

.disapper {
    animation: disappear 2 ease;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        display: none;
    }
}