.new-game {
    margin: 2rem auto;
    text-align: center;


    & .btn {
        color: #fff;
        padding: 1rem;
        text-transform: capitalize;
        border-bottom: .5px solid white;
        cursor: pointer;
        transition: all .4s;

        position: relative;

        &::before {
            display: inline-block;
            content: "";
            opacity: 1;
            width: 100%;
            height: 1%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .4s;

        }

        &:hover {
            color: var(--color-grey-dark-2);

            &::before {
                height: 100%;
                z-index: -1;
            }
        }
    }
}

.notif {
    margin: 0 auto;
    margin-bottom: -5rem;

    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-secondary);
}

.game {
    margin: 0 auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 40rem;
    width: 40rem;
    background: var(--color-grey-dark-2);
    box-shadow: var(--shadow-light);

    font-size: 1.9rem;
    font-weight: 400;

    opacity: 1;
    visibility: visible;
    transition: all .8s ease;


    .marker {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 2rem;

        & span {
            display: inline-block;
            margin-bottom: 1.2rem;
        }

        &__input,
        &__input:active,
        &__input:visited,
        &__input:focus {
            padding: .5rem;
            font-family: inherit;
            font-size: 1.4rem;
            font-weight: 300;
            border: none;
            width: 100%;
            text-align: center;

            cursor: pointer;

            background-color: var(--color-grey-dark-2);
            box-shadow: var(--shadow-light);

            outline: none;
            color: #fff;
            text-decoration: none;
        }
    }

    & .player {

        display: flex;
        flex-direction: column;

        & input {
            padding: 1rem;
            font-family: inherit;
            font-size: 1.6rem;
            font-weight: 300;
            border: none;
            width: 100%;
            text-align: center;
            outline: none;
            color: var(--color-grey-dark-2);

            margin: 1rem 0;

            &:hover {
                box-shadow: var(--shadow);
            }

            &:focus {
                box-shadow: var(--shadow);
            }
        }
    }

    & .btn {
        color: #fff;

        margin: 0 1rem;
        padding: 1rem;
        text-transform: capitalize;
        border-bottom: .5px solid white;
        cursor: pointer;
        transition: all .4s;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1;

        position: relative;

        &::before {
            display: inline-block;
            content: "";
            opacity: 1;
            width: 100%;
            height: 1%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .5s;

        }

        &:hover {
            color: var(--color-grey-dark-2);
            display: block;
            z-index: 10;

            &::before {
                height: 100%;
                z-index: -1;
            }
        }

    }
}

.red {
    border: 1px solid orangered;
}

.green {
    border: 1px solid yellowgreen;

}